// メインSCSSファイル - すべてのスタイルをここでまとめます

// 1. 変数（最初に読み込む）
@import 'variables';

// 2. 関数とミックスイン（変数の後に読み込む）
@import 'functions';
@import 'mixins';

// 3. リセットCSS
@import 'reset';

// 4. その他のスタイル（必要に応じて追加）
html {
  // Flash Of Unstyled Text
  // visibility: hidden;
  // opacity: 0;
  scroll-behavior: smooth;
  // &.wf-active,
  // &.loading-delay {
  //     visibility: visible;
  //     opacity: 1;
  // }
  body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
  }
  main {
    padding: 0;
    min-height: 100vh; // 開発用　不要になったら削除
  }
}
