---
// 必須インポート
import BaseLayout from '../layouts/BaseLayout.astro';
import Breadcrumb from '../components/ui/Breadcrumb.astro';

// コンポーネント
import Hero from '../components/pages/food/Hero.astro';
import FoodNav from '../components/pages/food/FoodNav.astro';

// 画像
import { getImage } from 'astro:assets';
// import heroBgImage from '../assets/images/food/hero/bg.png';

// // フォーマット
// const heroBg = await getImage({
//   src: heroBgImage,
//   format: 'webp',
//   widths: [720, 1024, 2316],
// });

// ページメタ情報（必ず変更）
const pageTitle = 'お食事 | 光風閣くわるび';
const pageDescription = 'ページの説明文をここに記述します。';

// ページ固有のクラス名（page-nameを適切な名前に変更）
const pageClass = 'main-content--food';
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  pageClass={pageClass}
>
  <Hero />
  <FoodNav />
  <div>
    <div>
      <div>
        <div>
          <div>
            山梨の豊かな自然が育んだ<br />
            季節感溢れる夕食
          </div>
          <div>
            <span></span>
            <div class="">夕食</div>
            <span></span>
          </div>
          <div class="">DINNER</div>
        </div>
        <div>
          <div><img src="" alt="" /></div>
          <div><img src="" alt="" /></div>
          <div><img src="" alt="" /></div>
          <div><img src="" alt="" /></div>
        </div>
        <div class="">
          ディナータイムは、彩り豊かな料理が並ぶ心躍るビュッフェスタイルで。ずらりと並んだ一皿一皿は、料理チームがお客様の笑顔を思い描きながらしたためた「手紙」です。和食、洋食、幅広いメニューの中には、山梨の魅力を伝える一品や、遊び心を散りばめています。お子様からご年配の方まで、三世代のご家族が同じテーブルを囲んで楽しめるよう、多彩な味わいをご用意しました。選ぶ楽しさと、その奥にある私たちの想いを一緒に。一日の終わりにふさわしい食事体験をご提供します。
        </div>
      </div>
      <div>
        <img src="" alt="" />
        <div>
          <div>
            <div class="">ある日のビュッフェメニュー</div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="34"
                height="34"
                viewBox="0 0 34 34"
                fill="none"
              >
                <path
                  d="M2 17H32"
                  stroke="#054965"
                  stroke-width="2.66667"
                  stroke-linecap="round"></path>
                <path
                  d="M17 32L17 2"
                  stroke="#054965"
                  stroke-width="2.66667"
                  stroke-linecap="round"></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="34"
                height="4"
                viewBox="0 0 34 4"
                fill="none"
              >
                <path
                  d="M2 2H32"
                  stroke="#054965"
                  stroke-width="2.66667"
                  stroke-linecap="round"></path>
              </svg>
            </div>
          </div>
          <div class="">
            <li><div>カルシウムたっぷりサラダ</div></li>
            <li><div>ポテトサラダ</div></li>
            <li><div>ほうれん草の胡麻和え</div></li>
            <li><div>若鶏のオーブン焼き</div></li>
            <li><div>本格麻婆豆腐</div></li>
            <li><div>牛肉とトマトのラグーペンネ</div></li>
            <li><div>サーモンのグリル バター醤油</div></li>
            <li><div>海老マヨ</div></li>
            <li><div>イカとパプリカのオイスターソース炒め</div></li>
            <li><div>ハンバーグ - ドミグラスチーズソース</div></li>
            <li><div>豚肉と玉子の中華炒め</div></li>
            <li><div>ご飯</div></li>
            <li><div>赤だしの味噌汁- 長ネギ、なめこ</div></li>
            <li><div>ご飯のお供（納豆、味付け海苔）</div></li>
            <li><div>料理長のすき焼き</div></li>
            <li>
              <div class="">串揚げステーション</div>
              <div class="">
                - 鶏ささみ大葉、うずら玉子、レンコン、カボチャ、特製ソース -
              </div>
            </li>
            <li>
              <div class="">デザート</div>
              <div class="">
                プチシュー、3種のベリー大福、グレープフルーツ - -
                全粒粉ミニ食パン、クロワッサン、はちみつ豆乳パン -
              </div>
            </li>
            <li><div>ホットドリンク(コーヒー、紅茶)</div></li>
          </div>
        </div>
      </div>
      <span></span>
    </div>
  </div>

  <!-- パンくずリスト -->
  <div class="breadcrumb-wrapper">
    <Breadcrumb items={[{ text: 'TOP', href: '/' }, { text: 'お食事' }]} />
  </div>
</BaseLayout>

<style lang="scss">
  @import '../styles/variables';
  @import '../styles/functions';
  @import '../styles/mixins';
  // ============================================================
  // フードメニューナビゲーション
  // ============================================================

  :global(.main-content--food) {
    background: var(--blue_1, #f5fafc);
  }
</style>
