---
// メインSCSSファイルをインポート
import '../styles/main.scss';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="layout-container">
      <!-- サイドバー -->
      <aside class="sidebar">
        <nav
          class="sidebar-nav"
          role="navigation"
          aria-label="メインナビゲーション"
        >
          <a class="sidebar-logo" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="180"
              height="110"
              viewBox="0 0 180 110"
              fill="none"
            >
              <g clip-path="url(#clip0_4_1394)">
                <path
                  d="M-0.000899417 53.7766C0.436531 53.9981 0.80706 54.1887 0.843084 54.2041C1.34227 53.7457 1.77455 53.4109 2.13479 53.0091C2.86556 52.1901 3.40076 50.9178 4.29106 50.5881C5.51587 50.1348 7.01343 50.4748 8.37203 50.31C9.44245 50.1812 10.7444 50.1194 11.4958 49.491C16.1274 45.6329 20.8053 41.8006 25.1179 37.5973C28.4681 34.3316 31.4941 30.6847 34.3297 26.9554C38.3489 21.6705 42.0748 16.1641 45.8933 10.7298C46.4285 9.96748 46.8041 9.09182 47.3805 8.04102C48.5024 12.306 48.1267 16.2774 47.0254 20.2128C46.4182 22.3814 45.7543 24.5396 44.9824 26.6567C44.6119 27.6817 44.0252 28.6604 43.387 29.5567C41.5962 32.0858 40.0266 34.8622 37.8291 36.9792C34.5252 40.1625 30.7736 42.8823 27.1918 45.7668C24.3511 48.0538 21.4949 50.3254 18.613 52.561C17.4243 53.483 16.1583 54.2968 14.6402 55.3682C15.5716 55.7546 16.112 55.9709 16.6523 56.1975C20.898 57.9798 25.1436 59.7569 29.3841 61.5494C30.7016 62.1057 32.4256 62.3478 33.2181 63.3368C34.6076 65.0624 35.4979 67.2155 36.4499 69.2604C38.8841 74.4835 39.7487 80.5102 44.3134 84.631C45.3014 85.5272 46.2638 86.5832 47.4371 87.1189C50.0154 88.2933 49.8404 90.4104 49.8456 92.821C47.9054 90.8997 46.0374 89.2205 44.3751 87.361C42.1777 84.8988 39.234 83.7502 36.2698 82.9002C31.2728 81.4631 25.895 81.0716 21.1501 79.0937C15.3349 76.6675 9.97251 73.1134 4.49177 69.9198C3.3493 69.2553 2.2583 68.1684 1.65104 67.0043C1.08496 65.9278 1.01291 64.4906 1.05408 63.2286C1.13127 61.1631 1.69221 59.0975 1.62017 57.0475C1.58414 55.9915 0.611503 54.9716 -0.0214844 53.7766H-0.000899417Z"
                  fill="#054965"></path>
                <path
                  d="M159.04 86.1605C158.407 81.5555 157.779 76.9505 157.063 71.7377C155.777 73.7415 154.938 75.2919 153.868 76.6672C152.046 79.0058 150.353 81.571 148.104 83.4356C144.594 86.3459 142.664 86.0729 139.381 81.6328C137.348 78.8873 135.609 75.8946 134.055 72.8452C132.624 70.0328 133.653 67.2049 134.991 64.6088C135.917 62.8162 137.173 61.1988 138.182 59.4423C138.81 58.3555 138.933 57.6189 137.369 56.7638C134.286 55.0692 131.456 52.9006 128.605 50.8144C128.003 50.3766 127.524 49.4855 127.395 48.7334C127.03 46.6112 127.673 45.7098 129.824 45.9622C134.43 46.5082 138.475 48.3935 142.35 50.7063C143.416 51.345 144.023 52.6018 143.441 54.1214C142.613 56.2899 142.098 58.5873 141.182 60.7146C140.148 63.1201 139.988 65.4587 141.007 67.8384C141.825 69.7598 142.772 71.6296 143.832 73.8702C144.707 73.0409 145.304 72.6031 145.731 72.0416C148.279 68.6832 151.284 65.5463 153.163 61.8427C154.82 58.5718 157.547 57.5571 160.383 56.8153C163.239 56.0684 164.963 57.2789 164.212 60.3077C162.277 68.0702 160.084 75.8019 160.192 83.9198C160.203 84.6564 159.976 85.3981 159.858 86.1347C159.585 86.1399 159.312 86.145 159.04 86.1502V86.1605Z"
                  fill="#054965"></path>
                <path
                  d="M50.0618 55.3628C51.6829 54.822 52.7687 54.312 54.2714 55.4349C56.4843 57.0884 57.354 56.3003 57.8841 53.5445C58.9185 48.1721 60.2256 42.8459 61.5173 37.525C62.0988 35.1349 62.8759 32.7912 63.6427 30.4527C63.8846 29.7161 64.3786 29.0619 65.2483 28.4541C65.3358 29.0774 65.5417 29.7161 65.4954 30.3291C64.8932 38.0555 64.2551 45.7769 63.6273 53.5033C63.5604 54.3223 63.37 55.1929 63.5552 55.9603C63.7096 56.5991 64.2397 57.2429 64.7749 57.6602C65.5108 58.2371 66.5143 58.4843 67.2193 59.087C69.8902 61.374 69.8697 62.7648 67.2245 64.99C66.8231 65.3248 66.3342 65.5566 65.8865 65.8348C66.0151 66.0151 66.1438 66.1902 66.2673 66.3705C69.7616 65.8451 73.261 65.3248 76.7553 64.7891C81.8604 64.0062 86.8471 64.5213 91.7412 66.1232C93.3725 66.6589 93.846 67.7819 93.2233 69.3374C92.9711 69.9659 92.6675 70.6509 92.1889 71.0991C88.1542 74.8851 83.5072 77.5636 77.9235 78.6247C79.6424 76.7497 81.4281 74.9314 83.0595 72.9895C84.3975 71.3927 86.3119 69.6723 85.1488 67.4058C84.0167 65.2064 81.4178 65.4742 79.488 65.8502C75.0262 66.7207 70.6313 67.9879 66.2519 69.2293C64.9653 69.595 64.1831 70.5376 64.2603 72.1653C64.4507 76.111 64.4713 80.0618 64.5124 84.0126C64.5227 84.8471 64.3169 85.6867 64.2088 86.5263L63.5913 86.7014C62.0474 82.6012 60.5035 78.501 58.9545 74.4009C55.0125 76.451 54.0656 74.1176 52.0174 70.4501C50.5661 67.854 50.9984 66.9577 53.273 64.8046C54.364 63.7692 55.4705 62.7339 56.438 61.5904C57.6062 60.1996 57.354 59.6072 55.6197 59.3239C55.1463 59.2467 54.6574 59.1282 54.1891 59.1694C52.707 59.2982 51.688 58.9222 51.3483 57.2584C51.2248 56.6557 50.6124 56.1509 50.0566 55.3731L50.0618 55.3628Z"
                  fill="#054965"></path>
                <path
                  d="M99.6419 52.6682C97.5834 52.7609 95.7565 52.8382 93.9347 52.9206C93.8575 52.6682 93.7803 52.4158 93.7031 52.1634C94.7993 51.1899 95.8131 50.103 97.007 49.2634C98.8494 47.9653 100.8 46.8167 102.73 45.6474C104.33 44.679 106.852 44.9314 107.974 46.3891C108.437 46.9918 108.36 48.0787 108.349 48.944C108.344 49.454 107.922 49.9433 107.799 50.4636C107.052 53.6263 107.567 54.2547 110.732 54.8059C113.264 55.2488 115.997 55.4652 118.215 56.6139C123.84 59.5242 123.659 66.7098 121.282 71.0624C118.621 75.9352 115.199 80.2569 110.475 83.2238C108.061 84.7382 105.184 85.516 102.508 86.6183C102.256 86.7213 101.968 86.7316 101.716 86.8244C98.8339 87.9061 97.7069 87.2416 98.1083 84.1768C98.4325 81.7043 99.2045 79.2112 100.244 76.9396C101.299 74.6268 104.732 74.5032 106.275 76.4451C109.059 79.9581 109.085 79.9787 112.183 76.6151C113.835 74.8226 115.6 73.0712 116.938 71.0521C118.894 68.1005 118.05 66.2359 114.592 65.6641C111.921 65.2263 109.188 65.0769 106.481 64.9533C104.268 64.8554 102.544 63.9952 101.783 61.94C101.031 59.9053 100.62 57.7471 100.126 55.6249C99.8838 54.5844 99.7757 53.5078 99.6419 52.663V52.6682ZM108.02 80.0457C106.666 79.3348 105.74 78.8506 104.521 78.2068C104.237 79.6903 104.011 80.8595 103.785 82.0288C103.975 82.1576 104.165 82.2812 104.356 82.41C105.437 81.7094 106.522 81.0089 108.02 80.0457Z"
                  fill="#054965"></path>
                <path
                  d="M98.2975 23.0976C98.3232 24.9365 97.7211 25.8791 95.8736 25.6164C94.6076 25.4361 93.3313 25.3125 92.0757 25.1631C91.1493 29.7321 91.9985 30.412 99.409 31.2722C99.759 33.8271 98.915 34.7646 96.4963 34.4864C95.817 34.4091 95.1274 34.3473 94.4584 34.198C90.1458 33.2296 89.0702 31.8594 89.06 27.3678C89.06 26.626 89.06 25.8791 89.06 24.9004C88.0461 24.8489 87.2022 24.8026 86.2913 24.7562C85.0099 29.2582 82.128 32.2097 78.0213 33.9765C77.3523 34.2649 76.3179 34.3113 75.7466 33.9765C75.3915 33.7653 75.371 32.5342 75.6077 31.9264C75.7929 31.4576 76.5752 31.0816 77.1567 30.9322C80.1724 30.1647 81.7832 28.0528 83.116 24.988C81.4744 25.2971 80.229 25.6782 78.9733 25.704C78.258 25.7194 77.5324 25.158 76.8119 24.8592C77.3111 24.2205 77.7125 23.1697 78.3249 23.0306C80.0437 22.6392 81.8501 22.4589 83.6152 22.5001C85.3752 22.5413 85.9568 21.8717 85.7715 20.213C85.684 19.4661 85.5502 18.6162 85.8178 17.9724C86.0957 17.313 86.8368 16.8546 87.3771 16.3086C87.9072 16.8752 88.7357 17.3645 88.9004 18.0239C89.2401 19.3786 88.7409 21.2535 89.4974 22.1034C90.151 22.84 92.0654 22.4383 93.4137 22.5722C95.0244 22.7319 96.6352 22.9276 98.2872 23.1079L98.2975 23.0976Z"
                  fill="#054965"></path>
                <path
                  d="M130.549 17.1374C130.081 22.4377 129.067 27.666 133.421 31.9361C133.21 32.3688 133.092 32.9921 132.716 33.2909C132.062 33.8111 131.254 34.4086 130.498 34.4344C130.04 34.4498 129.268 33.502 129.129 32.8788C128.583 30.4887 128.125 28.0626 127.858 25.621C127.662 23.8594 127.76 22.0514 127.817 20.2692C127.853 19.0226 127.338 18.559 126.113 18.5745C122.753 18.6157 119.392 18.6157 116.037 18.5745C114.617 18.559 114.169 19.2081 114.076 20.5679C113.876 23.6379 113.721 26.7337 113.129 29.7367C112.846 31.1686 111.719 32.4976 110.752 33.6926C110.433 34.0841 109.424 33.9193 108.729 34.0068C108.673 33.0951 108.23 31.6631 108.631 31.3592C111.122 29.4843 111.153 26.7955 111.38 24.153C111.529 22.3811 111.755 20.5628 111.524 18.8217C111.328 17.328 111.951 16.988 113.104 16.8386C113.577 16.7768 114.061 16.715 114.534 16.715C118.991 16.7098 123.448 16.6995 127.904 16.7407C128.764 16.751 129.618 16.9828 130.554 17.1219L130.549 17.1374Z"
                  fill="#054965"></path>
                <path
                  d="M115.172 24.2302C116.428 24.0602 117.586 23.9521 118.718 23.7203C119.093 23.643 119.407 23.2412 119.747 22.9888C119.407 22.7416 119.093 22.3449 118.718 22.278C117.534 22.0668 116.325 21.9741 115.126 21.835C115.048 21.6444 114.966 21.459 114.889 21.2684C115.388 20.8821 115.862 20.1918 116.386 20.1558C119.706 19.9291 123.03 19.8519 126.355 19.7334C126.463 19.7334 126.571 19.8725 127.224 20.3155C125.871 20.8306 124.811 21.1499 123.828 21.6341C123.19 21.9483 122.67 22.4995 122.099 22.9476C122.701 23.2155 123.277 23.576 123.905 23.7306C124.816 23.9572 125.763 24.0396 126.838 24.2096C126.679 25.8528 126.674 27.3723 126.314 28.7991C126.185 29.3142 125.212 29.6181 124.523 30.0817C124.976 30.9265 125.562 32.0133 126.386 33.5432H114.693C115.589 32.2554 116.361 31.148 117.133 30.0405C115.347 29.4327 114.848 28.0162 115.172 24.2302ZM121.471 27.9183C122.701 27.8823 124.162 28.9382 124.451 26.9139C124.523 26.4091 123.838 25.3686 123.38 25.2913C121.291 24.9359 121.739 26.6151 121.471 27.9183ZM119.284 31.0295C119.418 31.2355 119.557 31.4416 119.69 31.6476H123.18C123.293 31.4931 123.406 31.3334 123.514 31.1789C122.902 30.5968 122.248 29.51 121.692 29.5563C120.853 29.6284 120.081 30.499 119.279 31.0295H119.284ZM119.809 26.0176C119.603 25.6931 119.397 25.3686 119.196 25.0441C118.507 25.4149 117.591 25.6364 117.215 26.2133C116.994 26.5584 117.616 27.4547 117.863 28.1037C118.512 27.4084 119.16 26.713 119.809 26.0176Z"
                  fill="#054965"></path>
                <path
                  d="M147.793 27.8049C148.545 27.4083 149.291 26.991 150.058 26.6253C150.356 26.4811 150.794 26.5532 151.025 26.3575C153.789 24.0035 156.907 25.2551 160.582 25.456C159.162 26.4759 158.107 27.2331 157.046 27.9955C157.17 28.2221 157.293 28.4488 157.417 28.6754C159.023 29.1029 160.628 29.5253 162.218 29.9477C161.848 32.1523 161.632 32.312 159.352 31.9669C159.378 34.8205 157.422 34.5475 155.441 34.4394C154.026 34.3621 152.59 34.5527 151.061 34.6299C150.789 33.7749 150.531 32.9559 150.269 32.1266H147.078C147.871 29.1905 150.948 30.844 152.363 28.8969H148.174C148.046 28.5363 147.917 28.1758 147.783 27.8152L147.793 27.8049ZM154.659 33.6564C155.297 33.2752 155.801 32.9765 156.31 32.6726C155.852 32.415 155.389 31.9514 154.931 31.9566C154.37 31.9617 153.815 32.3635 153.254 32.5901C153.665 32.9044 154.077 33.2134 154.659 33.6564Z"
                  fill="#054965"></path>
                <path
                  d="M163.403 24.2351H156.579C156.579 21.8296 156.543 19.594 156.615 17.3637C156.626 17.0186 157.109 16.4056 157.382 16.4004C160.295 16.3283 163.213 16.3541 165.925 16.3541C165.925 22.0047 165.976 27.1248 165.863 32.2449C165.848 32.9042 165.009 33.5429 164.556 34.1919C164.17 33.5944 163.48 33.0124 163.455 32.3994C163.331 29.7415 163.403 27.0784 163.403 24.2351ZM159.111 21.0415C159.101 21.2887 159.091 21.5308 159.08 21.7781C160.135 22.9628 161.551 22.355 162.858 22.2726C162.796 21.8605 162.76 21.0981 162.678 21.093C161.494 21.0157 160.305 21.0415 159.116 21.0415H159.111ZM163.007 19.6353C163.146 19.4447 163.285 19.2541 163.424 19.0635C163.022 18.7596 162.621 18.2033 162.225 18.2033C161.201 18.2084 160.182 18.466 159.163 18.6205C159.441 18.9553 159.683 19.5477 160.002 19.5837C160.99 19.7074 162.009 19.6301 163.012 19.6301L163.007 19.6353Z"
                  fill="#054965"></path>
                <path
                  d="M154.136 16.4774C154.003 19.4444 153.894 21.819 153.786 24.2812C152.366 24.2812 151.203 24.3893 150.066 24.2554C148.249 24.0442 147.642 24.719 147.359 26.5579C147.04 28.6029 146.17 30.586 145.326 32.5021C144.894 33.4808 143.87 34.5677 142.748 33.522C141.816 32.6515 142.074 31.6007 142.974 30.3439C144.06 28.8243 144.708 26.8155 144.976 24.9354C145.295 22.7204 145.058 20.4128 144.961 18.1515C144.894 16.6577 145.429 16.3075 146.911 16.4311C149.201 16.6217 151.522 16.4826 154.142 16.4826L154.136 16.4774ZM149.752 20.0831C150.436 19.7483 151.018 19.465 151.604 19.1766C151.013 18.8829 150.416 18.3472 149.829 18.3575C149.16 18.3678 148.501 18.8623 147.837 19.1508C148.419 19.4341 149 19.7174 149.752 20.0831ZM149.515 20.6291C148.867 21.1082 148.362 21.4739 147.863 21.8396C148.486 22.0508 149.108 22.4268 149.731 22.4268C150.272 22.4268 150.812 22.0044 151.352 21.7623C150.807 21.4224 150.261 21.0876 149.515 20.6291Z"
                  fill="#054965"></path>
                <path
                  d="M164.454 63.3828C166.734 65.0672 168.818 66.561 170.851 68.1217C172.591 69.4507 172.91 71.8304 171.592 73.1439C170.486 74.2514 168.53 73.9063 167.115 72.2786C164.964 69.7958 163.858 66.9679 164.449 63.3828H164.454Z"
                  fill="#054965"></path>
                <path
                  d="M172.48 63.3262C174.487 65.0672 176.52 66.8288 178.553 68.5956C178.964 68.951 179.587 69.2498 179.726 69.6928C179.963 70.4757 180.128 71.4338 179.87 72.1498C179.747 72.4949 178.537 72.6752 177.889 72.5567C174.338 71.8974 171.466 66.7155 172.485 63.3262H172.48Z"
                  fill="#054965"></path>
                <path
                  d="M98.3867 99.9854H99.9872C100.656 101.938 101.305 103.828 102.102 106.156C103.348 103.838 104.284 102.056 102.277 100.052H104.315C105.01 102.087 105.658 103.993 106.307 105.894C106.466 105.909 106.631 105.919 106.791 105.935C107.372 104.039 107.948 102.149 108.597 100.037C108.592 100.037 109.117 100.037 109.57 100.037C108.504 102.932 107.444 105.827 106.23 109.133C105.427 107.114 104.789 105.497 104.012 103.54C103.265 105.425 102.632 107.027 101.819 109.092C100.594 105.837 99.5086 102.952 98.3919 99.9854H98.3867Z"
                  fill="#054965"></path>
                <path
                  d="M150.733 104.045C151.145 105.039 152.071 106.198 151.809 106.925C151.51 107.764 150.234 108.532 149.246 108.774C147.965 109.088 146.549 108.851 145.299 108.851V100.017C146.328 100.017 147.651 99.806 148.86 100.084C149.802 100.301 150.955 100.955 151.356 101.743C151.66 102.34 150.913 103.463 150.733 104.04V104.045ZM147.105 108.645C148.335 108.212 149.375 108.073 150.059 107.507C150.414 107.213 150.44 105.822 150.095 105.518C149.375 104.885 148.315 104.648 147.105 104.123V108.645ZM147.1 103.927C148.649 103.973 150.188 104.009 150.095 102.175C150.002 100.409 148.541 100.501 147.1 100.651V103.927Z"
                  fill="#054965"></path>
                <path
                  d="M100.546 3.52842C98.0914 4.02807 96.0586 4.4453 94.031 4.86253C93.8097 3.42025 94.0413 3.22967 96.3314 3.02363C97.6128 2.90515 98.8942 2.79698 100.119 2.68366C100.294 1.67922 100.438 0.860214 100.582 0.0412079L101.153 0C101.349 0.83961 101.545 1.67922 101.786 2.70427C103.901 2.84849 106.068 2.99787 108.332 3.15755C108.024 4.65134 107.18 4.981 105.806 4.57407C104.519 4.1929 103.191 3.9508 101.786 3.62114C100.963 6.68597 102.25 9.67869 101.359 12.4345C101.092 12.4242 100.819 12.4139 100.551 12.4036V3.52842H100.546Z"
                  fill="#054965"></path>
                <path
                  d="M81.7836 100.012H83.7957C82.4886 101.258 81.2123 102.474 79.8434 103.777C81.3976 105.467 82.8643 107.063 84.4545 108.799H82.396C81.0837 107.249 80.0132 105.987 78.9377 104.725C78.7318 104.812 78.5311 104.895 78.3253 104.982C78.4128 106.255 78.5003 107.522 78.5929 108.835H76.7402V100.063H78.6546C78.526 101.202 78.387 102.407 78.2532 103.617C78.4231 103.726 78.598 103.834 78.7679 103.942C79.8434 102.783 80.919 101.619 81.9997 100.46C81.9276 100.31 81.8556 100.166 81.7784 100.017L81.7836 100.012Z"
                  fill="#054965"></path>
                <path
                  d="M115.991 11.6104C118.728 10.2145 120.854 8.61252 120.54 4.89866C118.25 5.22317 116.083 5.53223 113.917 5.83614C113.809 5.68161 113.706 5.53223 113.598 5.3777C114.148 5.02228 114.689 4.36811 115.244 4.3578C119.583 4.27024 123.926 4.31144 128.434 4.31144C127.925 5.84644 127.256 6.29972 125.794 5.73827C124.569 5.26438 123.195 5.17166 121.883 4.90896C120.741 11.2962 118.867 13.5163 115.996 11.6104H115.991Z"
                  fill="#054965"></path>
                <path
                  d="M130.972 108.882C127.895 109.165 127.869 105.662 125.595 104.766V108.851H123.727V99.991C124.658 99.991 125.939 99.7386 127.046 100.063C128.075 100.372 129.413 101.135 129.701 102C129.943 102.731 128.883 103.901 128.168 105.333C128.739 106.054 129.779 107.372 130.972 108.882ZM125.353 104.035C126.881 104.174 128.255 104.184 128.441 102.407C128.59 100.985 127.38 100.264 126.305 100.558C124.329 101.098 125.728 102.798 125.358 104.035H125.353Z"
                  fill="#054965"></path>
                <path
                  d="M141.696 0.597656C142.699 3.39464 141.732 6.38736 142.298 9.76125C144.367 8.18505 146.25 6.74793 148.19 5.2696C147.531 7.86054 143.471 11.2087 140.965 11.1726V0.680072C141.207 0.654317 141.449 0.623411 141.69 0.597656H141.696Z"
                  fill="#054965"></path>
                <path
                  d="M134.061 100.007H135.882C135.882 102.242 135.759 104.504 135.965 106.729C136.021 107.347 137.045 108.321 137.647 108.336C138.512 108.357 140.102 107.733 140.154 107.244C140.416 104.895 140.272 102.5 140.272 100.048H141.667C141.291 102.665 141.178 105.369 140.37 107.847C140.143 108.547 137.838 108.964 136.582 108.8C135.774 108.691 134.796 107.378 134.519 106.425C134.148 105.158 134.405 103.71 134.344 102.34C134.313 101.614 134.174 100.898 134.061 100.012V100.007Z"
                  fill="#054965"></path>
                <path
                  d="M116.434 99.6143C117.896 102.875 119.223 105.837 120.582 108.855H118.77C118.4 107.892 118.276 106.522 117.685 106.269C116.717 105.862 115.358 105.955 114.339 106.316C113.871 106.481 113.815 107.794 113.506 108.798H112.42C113.712 105.852 115.003 102.89 116.439 99.6143H116.434ZM117.587 105.332C117.062 104.101 116.645 103.127 116.058 101.752C115.513 103.168 115.127 104.168 114.679 105.332H117.582H117.587Z"
                  fill="#054965"></path>
                <path
                  d="M157.62 108.872H155.51V100.027H157.62V108.872Z"
                  fill="#054965"></path>
                <path
                  d="M93.611 108.217C90.6622 110.092 88.1457 108.871 87.9811 105.461C87.909 103.962 87.9347 102.458 87.8678 100.959C87.8575 100.676 87.6157 100.403 87.4355 100.037H89.4992C89.4992 102.355 89.1698 104.73 89.5918 106.96C90.0035 109.118 91.9282 108.48 93.4669 108.083L93.611 108.222V108.217Z"
                  fill="#054965"></path>
                <path
                  d="M132.912 9.85911C137.101 8.50955 137.703 5.11506 138.012 1.12305C138.496 1.81843 138.799 2.05022 138.799 2.28202C138.789 5.22323 138.192 7.98931 136.123 10.23C134.929 11.5229 134.662 11.492 132.912 9.85911Z"
                  fill="#054965"></path>
                <path
                  d="M82.9271 19.5373C82.0677 20.3099 81.3421 21.0671 81.2649 21.0104C80.3643 20.2945 79.5563 19.46 78.7227 18.6513C79.3454 18.1465 80.2305 17.0905 80.5341 17.2399C81.373 17.652 81.9699 18.5637 82.922 19.5373H82.9271Z"
                  fill="#054965"></path>
                <path
                  d="M92.7656 20.7792C93.0487 19.8212 93.1516 18.7446 93.6868 17.9617C93.9801 17.5341 94.9991 17.6011 95.6938 17.4414C95.7556 18.0956 96.121 18.997 95.8276 19.3524C95.1741 20.1354 94.1911 20.635 93.3472 21.2531L92.7759 20.7844L92.7656 20.7792Z"
                  fill="#054965"></path>
                <path
                  d="M125.213 1.41059H116.742C117.21 0.380393 122.259 -0.0110821 125.213 1.41059Z"
                  fill="#054965"></path>
                <path
                  d="M108.34 9.01933C107.82 9.49837 107.341 9.94135 106.539 10.6831C105.72 9.27172 105.031 8.07155 104.336 6.87137C104.47 6.7838 104.598 6.69108 104.732 6.60352C105.89 7.37616 107.043 8.15396 108.34 9.02448V9.01933Z"
                  fill="#054965"></path>
                <path
                  d="M97.8962 7.09333C97.114 8.18019 96.3987 9.32371 95.4981 10.3024C95.3437 10.4724 94.4277 9.93668 93.666 9.65337C95.1173 8.53561 96.2752 7.64964 97.4331 6.76367L97.8962 7.09333Z"
                  fill="#054965"></path>
                <path
                  d="M93.4648 108.084C94.6227 105.483 94.35 102.845 93.8971 100.043C94.1853 100.017 94.736 99.9761 95.5439 99.9092C95.3432 100.192 95.2094 100.29 95.1991 100.404C95.0499 102 95.0242 103.613 94.7411 105.184C94.5507 106.229 94.0001 107.208 93.6089 108.218L93.4648 108.079V108.084Z"
                  fill="#054965"></path>
              </g>
              <defs>
                <clipPath id="clip0_4_1394">
                  <rect width="180" height="109.134" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
              <button class="sidebar-menu-button" type="button">宿泊予約</button
              >
            </li>
            <li class="sidebar-menu-item">
              <a class="sidebar-menu-link" href="#">団体利用の方</a>
            </li>
          </ul>
          <button
            class="sidebar-menu-toggle"
            type="button"
            aria-label="メニューを開く"
            id="menu-toggle"
          >
            <svg
              class="menu-open-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="75"
              height="80"
              viewBox="0 0 75 80"
              fill="none"
            >
              <path
                d="M66.3814 79.3C64.2648 79.3 62.6481 78.7167 61.5314 77.55C60.4148 76.3667 59.8564 74.6167 59.8564 72.3V61.5H62.1814V72.2C62.1814 73.8167 62.5398 75.0333 63.2564 75.85C63.9898 76.6667 65.0314 77.075 66.3814 77.075C67.7314 77.075 68.7648 76.6667 69.4814 75.85C70.1981 75.0333 70.5564 73.8167 70.5564 72.2V61.5H72.8814V72.3C72.8814 74.6167 72.3231 76.3667 71.2064 77.55C70.0898 78.7167 68.4814 79.3 66.3814 79.3Z"
                fill="#054965"></path>
              <path
                d="M40.2236 79V61.5H42.4986L51.4736 74.975V61.5H53.7736V79H51.5736L42.4986 65.275V79H40.2236Z"
                fill="#054965"></path>
              <path
                d="M23.1484 79V61.5H34.4734V63.65H25.4234V68.975H33.6734V71.15H25.4234V76.85H34.7734V79H23.1484Z"
                fill="#054965"></path>
              <path
                d="M1.33691 79V61.5H3.61191L9.06191 70.175L14.4869 61.5H16.8119V79H14.4619V65.475L9.71192 73.175H8.41191L3.63691 65.475V79H1.33691Z"
                fill="#054965"></path>
              <path
                d="M2 2H73"
                stroke="#054965"
                stroke-width="3.2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2 22H73"
                stroke="#054965"
                stroke-width="3.2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2 43H73"
                stroke="#054965"
                stroke-width="3.2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <svg
              class="menu-close-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="88"
              height="92"
              viewBox="0 0 88 92"
              fill="none"
            >
              <path
                d="M75.9495 89.1025V71.6025H87.2745V73.7525H78.2245V79.0775H86.4745V81.2525H78.2245V86.9525H87.5745V89.1025H75.9495Z"
                fill="white"></path>
              <path
                d="M64.0697 89.4277C62.6697 89.4277 61.3781 89.1527 60.1947 88.6027C59.0281 88.0527 58.0781 87.1444 57.3447 85.8777L59.2197 84.7277C59.7697 85.5277 60.4364 86.1444 61.2197 86.5777C62.0031 87.0111 62.9781 87.2277 64.1447 87.2277C65.3114 87.2277 66.2197 86.9944 66.8697 86.5277C67.5197 86.0611 67.8447 85.3777 67.8447 84.4777C67.8447 83.9444 67.7281 83.4861 67.4947 83.1027C67.2614 82.7027 66.7947 82.3444 66.0947 82.0277C65.3947 81.7111 64.3364 81.4111 62.9197 81.1277C59.7031 80.4277 58.0947 78.7861 58.0947 76.2027C58.0947 75.2027 58.3364 74.3277 58.8197 73.5777C59.3031 72.8277 59.9781 72.2444 60.8447 71.8277C61.7114 71.3944 62.7197 71.1777 63.8697 71.1777C65.2697 71.1777 66.4697 71.4694 67.4697 72.0527C68.4864 72.6361 69.3281 73.3527 69.9947 74.2027L68.2447 75.6277C67.7114 75.0444 67.1031 74.5277 66.4197 74.0777C65.7364 73.6277 64.8781 73.4027 63.8447 73.4027C62.8781 73.4027 62.0697 73.6361 61.4197 74.1027C60.7864 74.5527 60.4697 75.2194 60.4697 76.1027C60.4697 76.5694 60.5697 76.9944 60.7697 77.3777C60.9864 77.7444 61.3781 78.0694 61.9447 78.3527C62.5114 78.6361 63.3364 78.8944 64.4197 79.1277C66.4864 79.5611 67.9697 80.2111 68.8697 81.0777C69.7864 81.9444 70.2447 83.0694 70.2447 84.4527C70.2447 85.5194 69.9781 86.4277 69.4447 87.1777C68.9281 87.9111 68.2031 88.4694 67.2697 88.8527C66.3531 89.2361 65.2864 89.4277 64.0697 89.4277Z"
                fill="white"></path>
              <path
                d="M44.458 89.4777C42.8747 89.4777 41.4747 89.1027 40.258 88.3527C39.0414 87.6027 38.083 86.5444 37.383 85.1777C36.6997 83.8111 36.358 82.2027 36.358 80.3527C36.358 78.5027 36.6997 76.8944 37.383 75.5277C38.083 74.1444 39.0414 73.0777 40.258 72.3277C41.4747 71.5611 42.8747 71.1777 44.458 71.1777C46.0414 71.1777 47.433 71.5611 48.633 72.3277C49.8497 73.0777 50.7997 74.1444 51.483 75.5277C52.183 76.8944 52.533 78.5027 52.533 80.3527C52.533 82.2027 52.183 83.8111 51.483 85.1777C50.7997 86.5444 49.8497 87.6027 48.633 88.3527C47.433 89.1027 46.0414 89.4777 44.458 89.4777ZM44.458 87.2277C45.5914 87.2277 46.583 86.9444 47.433 86.3777C48.2997 85.8111 48.9664 85.0194 49.433 84.0027C49.9164 82.9694 50.158 81.7527 50.158 80.3527C50.158 78.9361 49.9164 77.7194 49.433 76.7027C48.9664 75.6694 48.2997 74.8694 47.433 74.3027C46.583 73.7361 45.5914 73.4527 44.458 73.4527C43.3247 73.4527 42.3247 73.7361 41.458 74.3027C40.608 74.8694 39.9414 75.6694 39.458 76.7027C38.9747 77.7194 38.733 78.9361 38.733 80.3527C38.733 81.7527 38.9747 82.9694 39.458 84.0027C39.9414 85.0194 40.608 85.8111 41.458 86.3777C42.3247 86.9444 43.3247 87.2277 44.458 87.2277Z"
                fill="white"></path>
              <path
                d="M20.5979 89.1025V71.6025H22.8729V86.9525H32.2479V89.1025H20.5979Z"
                fill="white"></path>
              <path
                d="M8.52542 89.4777C6.94208 89.4777 5.54208 89.1027 4.32542 88.3527C3.10875 87.6027 2.15042 86.5444 1.45042 85.1777C0.767082 83.8111 0.425415 82.2027 0.425415 80.3527C0.425415 78.5027 0.767082 76.8944 1.45042 75.5277C2.15042 74.1444 3.10875 73.0777 4.32542 72.3277C5.54208 71.5611 6.94208 71.1777 8.52542 71.1777C9.95875 71.1777 11.2421 71.4944 12.3754 72.1277C13.5087 72.7444 14.4337 73.6194 15.1504 74.7527L13.1254 75.9527C12.6087 75.1527 11.9587 74.5361 11.1754 74.1027C10.3921 73.6694 9.50875 73.4527 8.52542 73.4527C7.39208 73.4527 6.39208 73.7361 5.52541 74.3027C4.67541 74.8694 4.00875 75.6694 3.52541 76.7027C3.04208 77.7194 2.80042 78.9361 2.80042 80.3527C2.80042 81.7527 3.04208 82.9694 3.52541 84.0027C4.00875 85.0194 4.67541 85.8111 5.52541 86.3777C6.39208 86.9444 7.39208 87.2277 8.52542 87.2277C9.50875 87.2277 10.3921 87.0111 11.1754 86.5777C11.9587 86.1444 12.6087 85.5277 13.1254 84.7277L15.1504 85.9277C14.4337 87.0444 13.5087 87.9194 12.3754 88.5527C11.2421 89.1694 9.95875 89.4777 8.52542 89.4777Z"
                fill="white"></path>
              <path
                d="M68.4712 0.869403C69.096 0.244564 70.1085 0.244564 70.7334 0.869403C71.3582 1.49424 71.3582 2.50675 70.7334 3.13159L20.5288 53.3362C19.9039 53.961 18.8914 53.961 18.2666 53.3362C17.6418 52.7113 17.6418 51.6988 18.2666 51.074L68.4712 0.869403Z"
                fill="white"></path>
              <path
                d="M70.7334 51.074C71.3582 51.6988 71.3582 52.7113 70.7334 53.3361C70.1085 53.961 69.096 53.961 68.4712 53.3361L18.2666 3.13157C17.6418 2.50673 17.6418 1.49421 18.2666 0.869376C18.8914 0.244537 19.904 0.244537 20.5288 0.869376L70.7334 51.074Z"
                fill="white"></path>
            </svg>
          </button>
          <div class="sidebar-social" role="contentinfo" aria-label="SNSリンク">
            <a class="sidebar-social-link" href="" aria-label="SNS1へのリンク">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="41"
                height="41"
                viewBox="0 0 41 41"
                fill="none"
              >
                <path
                  d="M20.206 3.6405C25.6014 3.6405 26.2398 3.66135 28.3709 3.7584C30.3407 3.84823 31.4106 4.17707 32.1228 4.45378C33.0661 4.82031 33.739 5.25823 34.4464 5.96484C35.1538 6.67224 35.5917 7.34516 35.9574 8.28837C36.2341 9.00059 36.563 10.0705 36.6528 12.0404C36.7499 14.1706 36.7707 14.8098 36.7707 20.2052C36.7707 25.6006 36.7499 26.239 36.6528 28.3701C36.563 30.3399 36.2341 31.4098 35.9574 32.122C35.5909 33.0653 35.153 33.7382 34.4464 34.4456C33.739 35.153 33.0661 35.5909 32.1228 35.9566C31.4106 36.2333 30.3407 36.5622 28.3709 36.652C26.2406 36.7491 25.6014 36.7699 20.206 36.7699C14.8106 36.7699 14.1714 36.7491 12.0412 36.652C10.0713 36.5622 9.00139 36.2333 8.28917 35.9566C7.34596 35.5901 6.67304 35.1522 5.96564 34.4456C5.25823 33.7382 4.82031 33.0653 4.45458 32.122C4.17787 31.4098 3.84903 30.3399 3.7592 28.3701C3.66215 26.2398 3.6413 25.6006 3.6413 20.2052C3.6413 14.8098 3.66215 14.1714 3.7592 12.0404C3.84903 10.0705 4.17787 9.00059 4.45458 8.28837C4.82111 7.34516 5.25903 6.67224 5.96564 5.96484C6.67224 5.25743 7.34596 4.81951 8.28917 4.45378C9.00139 4.17707 10.0713 3.84823 12.0412 3.7584C14.1714 3.66135 14.8106 3.6405 20.206 3.6405ZM20.206 0C14.7184 0 14.0302 0.0232594 11.8751 0.121911C9.72484 0.219761 8.25549 0.561434 6.9706 1.06111C5.64161 1.57763 4.51473 2.26819 3.39186 3.39186C2.26819 4.51553 1.57763 5.64161 1.06111 6.9706C0.561434 8.25549 0.219761 9.72484 0.121911 11.8751C0.0232594 14.0302 0 14.7184 0 20.206C0 25.6936 0.0232594 26.3818 0.121911 28.5369C0.219761 30.6872 0.561434 32.1565 1.06111 33.4414C1.57763 34.7704 2.26819 35.8973 3.39186 37.0202C4.51553 38.1438 5.64161 38.8344 6.9706 39.3509C8.25549 39.8506 9.72484 40.1923 11.8751 40.2901C14.0302 40.3888 14.7184 40.412 20.206 40.412C25.6936 40.412 26.3818 40.3888 28.5369 40.2901C30.6872 40.1923 32.1565 39.8506 33.4414 39.3509C34.7704 38.8344 35.8973 38.1438 37.0202 37.0202C38.1438 35.8965 38.8344 34.7704 39.3509 33.4414C39.8506 32.1565 40.1923 30.6872 40.2901 28.5369C40.3888 26.3818 40.412 25.6936 40.412 20.206C40.412 14.7184 40.3888 14.0302 40.2901 11.8751C40.1923 9.72484 39.8506 8.25549 39.3509 6.9706C38.8344 5.64161 38.1438 4.51473 37.0202 3.39186C35.8965 2.26819 34.7704 1.57763 33.4414 1.06111C32.1565 0.561434 30.6872 0.219761 28.5369 0.121911C26.3818 0.0232594 25.6936 0 20.206 0Z"
                  fill="#054965"></path>
                <path
                  d="M20.2054 9.83008C14.4747 9.83008 9.83008 14.4755 9.83008 20.2054C9.83008 25.9352 14.4755 30.5807 20.2054 30.5807C25.9352 30.5807 30.5807 25.9352 30.5807 20.2054C30.5807 14.4755 25.9352 9.83008 20.2054 9.83008ZM20.2054 26.941C16.4855 26.941 13.4706 23.9253 13.4706 20.2062C13.4706 16.4871 16.4863 13.4714 20.2054 13.4714C23.9245 13.4714 26.9402 16.4871 26.9402 20.2062C26.9402 23.9253 23.9245 26.941 20.2054 26.941Z"
                  fill="#054965"></path>
                <path
                  d="M30.991 11.8443C32.3301 11.8443 33.4156 10.7588 33.4156 9.41971C33.4156 8.08064 32.3301 6.99512 30.991 6.99512C29.6519 6.99512 28.5664 8.08064 28.5664 9.41971C28.5664 10.7588 29.6519 11.8443 30.991 11.8443Z"
                  fill="#054965"></path>
              </svg>
            </a>
            <a class="sidebar-social-link" href="" aria-label="SNS2へのリンク">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="41"
                viewBox="0 0 40 41"
                fill="none"
              >
                <path
                  d="M23.5325 17.1109L38.2528 0H34.7645L21.9831 14.8574L11.7745 0H0L15.4373 22.4668L0 40.4104H3.48855L16.9864 24.7207L27.7674 40.4104H39.5418L23.5321 17.1109H23.5331H23.5325ZM18.7545 22.6645L17.1903 20.4275L4.74531 2.62588H10.1032L20.1467 16.9923L21.7109 19.2294L34.7662 37.9035H29.4083L18.7549 22.6652V22.6642L18.7545 22.6645Z"
                  fill="#054965"></path>
              </svg>
            </a>
            <a class="sidebar-social-link" href="" aria-label="SNS3へのリンク">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="41"
                height="42"
                viewBox="0 0 41 42"
                fill="none"
              >
                <path
                  d="M20.2052 0.905273C9.04617 0.905273 0 10.0067 0 21.234C0 31.3804 7.38871 39.7906 17.0481 41.3157V27.1102H11.9179V21.234H17.0481V16.7553C17.0481 11.6604 20.0647 8.84617 24.68 8.84617C26.8907 8.84617 29.2028 9.24321 29.2028 9.24321V14.246H26.6551C24.1452 14.246 23.3623 15.8131 23.3623 17.4207V21.234H28.9661L28.0702 27.1102H23.3623V41.3157C33.0217 39.7906 40.4104 31.3808 40.4104 21.234C40.4104 10.0067 31.3642 0.905273 20.2052 0.905273Z"
                  fill="#054965"></path>
              </svg>
            </a>
          </div>
        </nav>
      </aside>

      <!-- メニューオーバーレイ -->
      <div class="menu-overlay" id="menu-overlay">
        <!-- spでのみ表示されるmenu内のheader -->
        <div class="mobile-menu-header">
          <div class="mobile-menu-nav">
            <ul class="mobile-menu-list">
              <li class="mobile-menu-item">
                <button class="mobile-menu-button" type="button"
                  >宿泊予約</button
                >
              </li>
              <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#">団体利用の方</a>
              </li>
            </ul>
            <button class="mobile-menu-close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
              >
                <path
                  d="M2 52L52 2.00049"
                  stroke="white"
                  stroke-width="3.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M2 2L52 51.9995"
                  stroke="white"
                  stroke-width="3.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
          <span class="line"></span>
          <a class="sidebar-logo" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="180"
              height="110"
              viewBox="0 0 180 110"
              fill="none"
            >
              <g clip-path="url(#clip0_4_1394)">
                <path
                  d="M-0.000899417 53.7766C0.436531 53.9981 0.80706 54.1887 0.843084 54.2041C1.34227 53.7457 1.77455 53.4109 2.13479 53.0091C2.86556 52.1901 3.40076 50.9178 4.29106 50.5881C5.51587 50.1348 7.01343 50.4748 8.37203 50.31C9.44245 50.1812 10.7444 50.1194 11.4958 49.491C16.1274 45.6329 20.8053 41.8006 25.1179 37.5973C28.4681 34.3316 31.4941 30.6847 34.3297 26.9554C38.3489 21.6705 42.0748 16.1641 45.8933 10.7298C46.4285 9.96748 46.8041 9.09182 47.3805 8.04102C48.5024 12.306 48.1267 16.2774 47.0254 20.2128C46.4182 22.3814 45.7543 24.5396 44.9824 26.6567C44.6119 27.6817 44.0252 28.6604 43.387 29.5567C41.5962 32.0858 40.0266 34.8622 37.8291 36.9792C34.5252 40.1625 30.7736 42.8823 27.1918 45.7668C24.3511 48.0538 21.4949 50.3254 18.613 52.561C17.4243 53.483 16.1583 54.2968 14.6402 55.3682C15.5716 55.7546 16.112 55.9709 16.6523 56.1975C20.898 57.9798 25.1436 59.7569 29.3841 61.5494C30.7016 62.1057 32.4256 62.3478 33.2181 63.3368C34.6076 65.0624 35.4979 67.2155 36.4499 69.2604C38.8841 74.4835 39.7487 80.5102 44.3134 84.631C45.3014 85.5272 46.2638 86.5832 47.4371 87.1189C50.0154 88.2933 49.8404 90.4104 49.8456 92.821C47.9054 90.8997 46.0374 89.2205 44.3751 87.361C42.1777 84.8988 39.234 83.7502 36.2698 82.9002C31.2728 81.4631 25.895 81.0716 21.1501 79.0937C15.3349 76.6675 9.97251 73.1134 4.49177 69.9198C3.3493 69.2553 2.2583 68.1684 1.65104 67.0043C1.08496 65.9278 1.01291 64.4906 1.05408 63.2286C1.13127 61.1631 1.69221 59.0975 1.62017 57.0475C1.58414 55.9915 0.611503 54.9716 -0.0214844 53.7766H-0.000899417Z"
                  fill="#054965"></path>
                <path
                  d="M159.04 86.1605C158.407 81.5555 157.779 76.9505 157.063 71.7377C155.777 73.7415 154.938 75.2919 153.868 76.6672C152.046 79.0058 150.353 81.571 148.104 83.4356C144.594 86.3459 142.664 86.0729 139.381 81.6328C137.348 78.8873 135.609 75.8946 134.055 72.8452C132.624 70.0328 133.653 67.2049 134.991 64.6088C135.917 62.8162 137.173 61.1988 138.182 59.4423C138.81 58.3555 138.933 57.6189 137.369 56.7638C134.286 55.0692 131.456 52.9006 128.605 50.8144C128.003 50.3766 127.524 49.4855 127.395 48.7334C127.03 46.6112 127.673 45.7098 129.824 45.9622C134.43 46.5082 138.475 48.3935 142.35 50.7063C143.416 51.345 144.023 52.6018 143.441 54.1214C142.613 56.2899 142.098 58.5873 141.182 60.7146C140.148 63.1201 139.988 65.4587 141.007 67.8384C141.825 69.7598 142.772 71.6296 143.832 73.8702C144.707 73.0409 145.304 72.6031 145.731 72.0416C148.279 68.6832 151.284 65.5463 153.163 61.8427C154.82 58.5718 157.547 57.5571 160.383 56.8153C163.239 56.0684 164.963 57.2789 164.212 60.3077C162.277 68.0702 160.084 75.8019 160.192 83.9198C160.203 84.6564 159.976 85.3981 159.858 86.1347C159.585 86.1399 159.312 86.145 159.04 86.1502V86.1605Z"
                  fill="#054965"></path>
                <path
                  d="M50.0618 55.3628C51.6829 54.822 52.7687 54.312 54.2714 55.4349C56.4843 57.0884 57.354 56.3003 57.8841 53.5445C58.9185 48.1721 60.2256 42.8459 61.5173 37.525C62.0988 35.1349 62.8759 32.7912 63.6427 30.4527C63.8846 29.7161 64.3786 29.0619 65.2483 28.4541C65.3358 29.0774 65.5417 29.7161 65.4954 30.3291C64.8932 38.0555 64.2551 45.7769 63.6273 53.5033C63.5604 54.3223 63.37 55.1929 63.5552 55.9603C63.7096 56.5991 64.2397 57.2429 64.7749 57.6602C65.5108 58.2371 66.5143 58.4843 67.2193 59.087C69.8902 61.374 69.8697 62.7648 67.2245 64.99C66.8231 65.3248 66.3342 65.5566 65.8865 65.8348C66.0151 66.0151 66.1438 66.1902 66.2673 66.3705C69.7616 65.8451 73.261 65.3248 76.7553 64.7891C81.8604 64.0062 86.8471 64.5213 91.7412 66.1232C93.3725 66.6589 93.846 67.7819 93.2233 69.3374C92.9711 69.9659 92.6675 70.6509 92.1889 71.0991C88.1542 74.8851 83.5072 77.5636 77.9235 78.6247C79.6424 76.7497 81.4281 74.9314 83.0595 72.9895C84.3975 71.3927 86.3119 69.6723 85.1488 67.4058C84.0167 65.2064 81.4178 65.4742 79.488 65.8502C75.0262 66.7207 70.6313 67.9879 66.2519 69.2293C64.9653 69.595 64.1831 70.5376 64.2603 72.1653C64.4507 76.111 64.4713 80.0618 64.5124 84.0126C64.5227 84.8471 64.3169 85.6867 64.2088 86.5263L63.5913 86.7014C62.0474 82.6012 60.5035 78.501 58.9545 74.4009C55.0125 76.451 54.0656 74.1176 52.0174 70.4501C50.5661 67.854 50.9984 66.9577 53.273 64.8046C54.364 63.7692 55.4705 62.7339 56.438 61.5904C57.6062 60.1996 57.354 59.6072 55.6197 59.3239C55.1463 59.2467 54.6574 59.1282 54.1891 59.1694C52.707 59.2982 51.688 58.9222 51.3483 57.2584C51.2248 56.6557 50.6124 56.1509 50.0566 55.3731L50.0618 55.3628Z"
                  fill="#054965"></path>
                <path
                  d="M99.6419 52.6682C97.5834 52.7609 95.7565 52.8382 93.9347 52.9206C93.8575 52.6682 93.7803 52.4158 93.7031 52.1634C94.7993 51.1899 95.8131 50.103 97.007 49.2634C98.8494 47.9653 100.8 46.8167 102.73 45.6474C104.33 44.679 106.852 44.9314 107.974 46.3891C108.437 46.9918 108.36 48.0787 108.349 48.944C108.344 49.454 107.922 49.9433 107.799 50.4636C107.052 53.6263 107.567 54.2547 110.732 54.8059C113.264 55.2488 115.997 55.4652 118.215 56.6139C123.84 59.5242 123.659 66.7098 121.282 71.0624C118.621 75.9352 115.199 80.2569 110.475 83.2238C108.061 84.7382 105.184 85.516 102.508 86.6183C102.256 86.7213 101.968 86.7316 101.716 86.8244C98.8339 87.9061 97.7069 87.2416 98.1083 84.1768C98.4325 81.7043 99.2045 79.2112 100.244 76.9396C101.299 74.6268 104.732 74.5032 106.275 76.4451C109.059 79.9581 109.085 79.9787 112.183 76.6151C113.835 74.8226 115.6 73.0712 116.938 71.0521C118.894 68.1005 118.05 66.2359 114.592 65.6641C111.921 65.2263 109.188 65.0769 106.481 64.9533C104.268 64.8554 102.544 63.9952 101.783 61.94C101.031 59.9053 100.62 57.7471 100.126 55.6249C99.8838 54.5844 99.7757 53.5078 99.6419 52.663V52.6682ZM108.02 80.0457C106.666 79.3348 105.74 78.8506 104.521 78.2068C104.237 79.6903 104.011 80.8595 103.785 82.0288C103.975 82.1576 104.165 82.2812 104.356 82.41C105.437 81.7094 106.522 81.0089 108.02 80.0457Z"
                  fill="#054965"></path>
                <path
                  d="M98.2975 23.0976C98.3232 24.9365 97.7211 25.8791 95.8736 25.6164C94.6076 25.4361 93.3313 25.3125 92.0757 25.1631C91.1493 29.7321 91.9985 30.412 99.409 31.2722C99.759 33.8271 98.915 34.7646 96.4963 34.4864C95.817 34.4091 95.1274 34.3473 94.4584 34.198C90.1458 33.2296 89.0702 31.8594 89.06 27.3678C89.06 26.626 89.06 25.8791 89.06 24.9004C88.0461 24.8489 87.2022 24.8026 86.2913 24.7562C85.0099 29.2582 82.128 32.2097 78.0213 33.9765C77.3523 34.2649 76.3179 34.3113 75.7466 33.9765C75.3915 33.7653 75.371 32.5342 75.6077 31.9264C75.7929 31.4576 76.5752 31.0816 77.1567 30.9322C80.1724 30.1647 81.7832 28.0528 83.116 24.988C81.4744 25.2971 80.229 25.6782 78.9733 25.704C78.258 25.7194 77.5324 25.158 76.8119 24.8592C77.3111 24.2205 77.7125 23.1697 78.3249 23.0306C80.0437 22.6392 81.8501 22.4589 83.6152 22.5001C85.3752 22.5413 85.9568 21.8717 85.7715 20.213C85.684 19.4661 85.5502 18.6162 85.8178 17.9724C86.0957 17.313 86.8368 16.8546 87.3771 16.3086C87.9072 16.8752 88.7357 17.3645 88.9004 18.0239C89.2401 19.3786 88.7409 21.2535 89.4974 22.1034C90.151 22.84 92.0654 22.4383 93.4137 22.5722C95.0244 22.7319 96.6352 22.9276 98.2872 23.1079L98.2975 23.0976Z"
                  fill="#054965"></path>
                <path
                  d="M130.549 17.1374C130.081 22.4377 129.067 27.666 133.421 31.9361C133.21 32.3688 133.092 32.9921 132.716 33.2909C132.062 33.8111 131.254 34.4086 130.498 34.4344C130.04 34.4498 129.268 33.502 129.129 32.8788C128.583 30.4887 128.125 28.0626 127.858 25.621C127.662 23.8594 127.76 22.0514 127.817 20.2692C127.853 19.0226 127.338 18.559 126.113 18.5745C122.753 18.6157 119.392 18.6157 116.037 18.5745C114.617 18.559 114.169 19.2081 114.076 20.5679C113.876 23.6379 113.721 26.7337 113.129 29.7367C112.846 31.1686 111.719 32.4976 110.752 33.6926C110.433 34.0841 109.424 33.9193 108.729 34.0068C108.673 33.0951 108.23 31.6631 108.631 31.3592C111.122 29.4843 111.153 26.7955 111.38 24.153C111.529 22.3811 111.755 20.5628 111.524 18.8217C111.328 17.328 111.951 16.988 113.104 16.8386C113.577 16.7768 114.061 16.715 114.534 16.715C118.991 16.7098 123.448 16.6995 127.904 16.7407C128.764 16.751 129.618 16.9828 130.554 17.1219L130.549 17.1374Z"
                  fill="#054965"></path>
                <path
                  d="M115.172 24.2302C116.428 24.0602 117.586 23.9521 118.718 23.7203C119.093 23.643 119.407 23.2412 119.747 22.9888C119.407 22.7416 119.093 22.3449 118.718 22.278C117.534 22.0668 116.325 21.9741 115.126 21.835C115.048 21.6444 114.966 21.459 114.889 21.2684C115.388 20.8821 115.862 20.1918 116.386 20.1558C119.706 19.9291 123.03 19.8519 126.355 19.7334C126.463 19.7334 126.571 19.8725 127.224 20.3155C125.871 20.8306 124.811 21.1499 123.828 21.6341C123.19 21.9483 122.67 22.4995 122.099 22.9476C122.701 23.2155 123.277 23.576 123.905 23.7306C124.816 23.9572 125.763 24.0396 126.838 24.2096C126.679 25.8528 126.674 27.3723 126.314 28.7991C126.185 29.3142 125.212 29.6181 124.523 30.0817C124.976 30.9265 125.562 32.0133 126.386 33.5432H114.693C115.589 32.2554 116.361 31.148 117.133 30.0405C115.347 29.4327 114.848 28.0162 115.172 24.2302ZM121.471 27.9183C122.701 27.8823 124.162 28.9382 124.451 26.9139C124.523 26.4091 123.838 25.3686 123.38 25.2913C121.291 24.9359 121.739 26.6151 121.471 27.9183ZM119.284 31.0295C119.418 31.2355 119.557 31.4416 119.69 31.6476H123.18C123.293 31.4931 123.406 31.3334 123.514 31.1789C122.902 30.5968 122.248 29.51 121.692 29.5563C120.853 29.6284 120.081 30.499 119.279 31.0295H119.284ZM119.809 26.0176C119.603 25.6931 119.397 25.3686 119.196 25.0441C118.507 25.4149 117.591 25.6364 117.215 26.2133C116.994 26.5584 117.616 27.4547 117.863 28.1037C118.512 27.4084 119.16 26.713 119.809 26.0176Z"
                  fill="#054965"></path>
                <path
                  d="M147.793 27.8049C148.545 27.4083 149.291 26.991 150.058 26.6253C150.356 26.4811 150.794 26.5532 151.025 26.3575C153.789 24.0035 156.907 25.2551 160.582 25.456C159.162 26.4759 158.107 27.2331 157.046 27.9955C157.17 28.2221 157.293 28.4488 157.417 28.6754C159.023 29.1029 160.628 29.5253 162.218 29.9477C161.848 32.1523 161.632 32.312 159.352 31.9669C159.378 34.8205 157.422 34.5475 155.441 34.4394C154.026 34.3621 152.59 34.5527 151.061 34.6299C150.789 33.7749 150.531 32.9559 150.269 32.1266H147.078C147.871 29.1905 150.948 30.844 152.363 28.8969H148.174C148.046 28.5363 147.917 28.1758 147.783 27.8152L147.793 27.8049ZM154.659 33.6564C155.297 33.2752 155.801 32.9765 156.31 32.6726C155.852 32.415 155.389 31.9514 154.931 31.9566C154.37 31.9617 153.815 32.3635 153.254 32.5901C153.665 32.9044 154.077 33.2134 154.659 33.6564Z"
                  fill="#054965"></path>
                <path
                  d="M163.403 24.2351H156.579C156.579 21.8296 156.543 19.594 156.615 17.3637C156.626 17.0186 157.109 16.4056 157.382 16.4004C160.295 16.3283 163.213 16.3541 165.925 16.3541C165.925 22.0047 165.976 27.1248 165.863 32.2449C165.848 32.9042 165.009 33.5429 164.556 34.1919C164.17 33.5944 163.48 33.0124 163.455 32.3994C163.331 29.7415 163.403 27.0784 163.403 24.2351ZM159.111 21.0415C159.101 21.2887 159.091 21.5308 159.08 21.7781C160.135 22.9628 161.551 22.355 162.858 22.2726C162.796 21.8605 162.76 21.0981 162.678 21.093C161.494 21.0157 160.305 21.0415 159.116 21.0415H159.111ZM163.007 19.6353C163.146 19.4447 163.285 19.2541 163.424 19.0635C163.022 18.7596 162.621 18.2033 162.225 18.2033C161.201 18.2084 160.182 18.466 159.163 18.6205C159.441 18.9553 159.683 19.5477 160.002 19.5837C160.99 19.7074 162.009 19.6301 163.012 19.6301L163.007 19.6353Z"
                  fill="#054965"></path>
                <path
                  d="M154.136 16.4774C154.003 19.4444 153.894 21.819 153.786 24.2812C152.366 24.2812 151.203 24.3893 150.066 24.2554C148.249 24.0442 147.642 24.719 147.359 26.5579C147.04 28.6029 146.17 30.586 145.326 32.5021C144.894 33.4808 143.87 34.5677 142.748 33.522C141.816 32.6515 142.074 31.6007 142.974 30.3439C144.06 28.8243 144.708 26.8155 144.976 24.9354C145.295 22.7204 145.058 20.4128 144.961 18.1515C144.894 16.6577 145.429 16.3075 146.911 16.4311C149.201 16.6217 151.522 16.4826 154.142 16.4826L154.136 16.4774ZM149.752 20.0831C150.436 19.7483 151.018 19.465 151.604 19.1766C151.013 18.8829 150.416 18.3472 149.829 18.3575C149.16 18.3678 148.501 18.8623 147.837 19.1508C148.419 19.4341 149 19.7174 149.752 20.0831ZM149.515 20.6291C148.867 21.1082 148.362 21.4739 147.863 21.8396C148.486 22.0508 149.108 22.4268 149.731 22.4268C150.272 22.4268 150.812 22.0044 151.352 21.7623C150.807 21.4224 150.261 21.0876 149.515 20.6291Z"
                  fill="#054965"></path>
                <path
                  d="M164.454 63.3828C166.734 65.0672 168.818 66.561 170.851 68.1217C172.591 69.4507 172.91 71.8304 171.592 73.1439C170.486 74.2514 168.53 73.9063 167.115 72.2786C164.964 69.7958 163.858 66.9679 164.449 63.3828H164.454Z"
                  fill="#054965"></path>
                <path
                  d="M172.48 63.3262C174.487 65.0672 176.52 66.8288 178.553 68.5956C178.964 68.951 179.587 69.2498 179.726 69.6928C179.963 70.4757 180.128 71.4338 179.87 72.1498C179.747 72.4949 178.537 72.6752 177.889 72.5567C174.338 71.8974 171.466 66.7155 172.485 63.3262H172.48Z"
                  fill="#054965"></path>
                <path
                  d="M98.3867 99.9854H99.9872C100.656 101.938 101.305 103.828 102.102 106.156C103.348 103.838 104.284 102.056 102.277 100.052H104.315C105.01 102.087 105.658 103.993 106.307 105.894C106.466 105.909 106.631 105.919 106.791 105.935C107.372 104.039 107.948 102.149 108.597 100.037C108.592 100.037 109.117 100.037 109.57 100.037C108.504 102.932 107.444 105.827 106.23 109.133C105.427 107.114 104.789 105.497 104.012 103.54C103.265 105.425 102.632 107.027 101.819 109.092C100.594 105.837 99.5086 102.952 98.3919 99.9854H98.3867Z"
                  fill="#054965"></path>
                <path
                  d="M150.733 104.045C151.145 105.039 152.071 106.198 151.809 106.925C151.51 107.764 150.234 108.532 149.246 108.774C147.965 109.088 146.549 108.851 145.299 108.851V100.017C146.328 100.017 147.651 99.806 148.86 100.084C149.802 100.301 150.955 100.955 151.356 101.743C151.66 102.34 150.913 103.463 150.733 104.04V104.045ZM147.105 108.645C148.335 108.212 149.375 108.073 150.059 107.507C150.414 107.213 150.44 105.822 150.095 105.518C149.375 104.885 148.315 104.648 147.105 104.123V108.645ZM147.1 103.927C148.649 103.973 150.188 104.009 150.095 102.175C150.002 100.409 148.541 100.501 147.1 100.651V103.927Z"
                  fill="#054965"></path>
                <path
                  d="M100.546 3.52842C98.0914 4.02807 96.0586 4.4453 94.031 4.86253C93.8097 3.42025 94.0413 3.22967 96.3314 3.02363C97.6128 2.90515 98.8942 2.79698 100.119 2.68366C100.294 1.67922 100.438 0.860214 100.582 0.0412079L101.153 0C101.349 0.83961 101.545 1.67922 101.786 2.70427C103.901 2.84849 106.068 2.99787 108.332 3.15755C108.024 4.65134 107.18 4.981 105.806 4.57407C104.519 4.1929 103.191 3.9508 101.786 3.62114C100.963 6.68597 102.25 9.67869 101.359 12.4345C101.092 12.4242 100.819 12.4139 100.551 12.4036V3.52842H100.546Z"
                  fill="#054965"></path>
                <path
                  d="M81.7836 100.012H83.7957C82.4886 101.258 81.2123 102.474 79.8434 103.777C81.3976 105.467 82.8643 107.063 84.4545 108.799H82.396C81.0837 107.249 80.0132 105.987 78.9377 104.725C78.7318 104.812 78.5311 104.895 78.3253 104.982C78.4128 106.255 78.5003 107.522 78.5929 108.835H76.7402V100.063H78.6546C78.526 101.202 78.387 102.407 78.2532 103.617C78.4231 103.726 78.598 103.834 78.7679 103.942C79.8434 102.783 80.919 101.619 81.9997 100.46C81.9276 100.31 81.8556 100.166 81.7784 100.017L81.7836 100.012Z"
                  fill="#054965"></path>
                <path
                  d="M115.991 11.6104C118.728 10.2145 120.854 8.61252 120.54 4.89866C118.25 5.22317 116.083 5.53223 113.917 5.83614C113.809 5.68161 113.706 5.53223 113.598 5.3777C114.148 5.02228 114.689 4.36811 115.244 4.3578C119.583 4.27024 123.926 4.31144 128.434 4.31144C127.925 5.84644 127.256 6.29972 125.794 5.73827C124.569 5.26438 123.195 5.17166 121.883 4.90896C120.741 11.2962 118.867 13.5163 115.996 11.6104H115.991Z"
                  fill="#054965"></path>
                <path
                  d="M130.972 108.882C127.895 109.165 127.869 105.662 125.595 104.766V108.851H123.727V99.991C124.658 99.991 125.939 99.7386 127.046 100.063C128.075 100.372 129.413 101.135 129.701 102C129.943 102.731 128.883 103.901 128.168 105.333C128.739 106.054 129.779 107.372 130.972 108.882ZM125.353 104.035C126.881 104.174 128.255 104.184 128.441 102.407C128.59 100.985 127.38 100.264 126.305 100.558C124.329 101.098 125.728 102.798 125.358 104.035H125.353Z"
                  fill="#054965"></path>
                <path
                  d="M141.696 0.597656C142.699 3.39464 141.732 6.38736 142.298 9.76125C144.367 8.18505 146.25 6.74793 148.19 5.2696C147.531 7.86054 143.471 11.2087 140.965 11.1726V0.680072C141.207 0.654317 141.449 0.623411 141.69 0.597656H141.696Z"
                  fill="#054965"></path>
                <path
                  d="M134.061 100.007H135.882C135.882 102.242 135.759 104.504 135.965 106.729C136.021 107.347 137.045 108.321 137.647 108.336C138.512 108.357 140.102 107.733 140.154 107.244C140.416 104.895 140.272 102.5 140.272 100.048H141.667C141.291 102.665 141.178 105.369 140.37 107.847C140.143 108.547 137.838 108.964 136.582 108.8C135.774 108.691 134.796 107.378 134.519 106.425C134.148 105.158 134.405 103.71 134.344 102.34C134.313 101.614 134.174 100.898 134.061 100.012V100.007Z"
                  fill="#054965"></path>
                <path
                  d="M116.434 99.6143C117.896 102.875 119.223 105.837 120.582 108.855H118.77C118.4 107.892 118.276 106.522 117.685 106.269C116.717 105.862 115.358 105.955 114.339 106.316C113.871 106.481 113.815 107.794 113.506 108.798H112.42C113.712 105.852 115.003 102.89 116.439 99.6143H116.434ZM117.587 105.332C117.062 104.101 116.645 103.127 116.058 101.752C115.513 103.168 115.127 104.168 114.679 105.332H117.582H117.587Z"
                  fill="#054965"></path>
                <path
                  d="M157.62 108.872H155.51V100.027H157.62V108.872Z"
                  fill="#054965"></path>
                <path
                  d="M93.611 108.217C90.6622 110.092 88.1457 108.871 87.9811 105.461C87.909 103.962 87.9347 102.458 87.8678 100.959C87.8575 100.676 87.6157 100.403 87.4355 100.037H89.4992C89.4992 102.355 89.1698 104.73 89.5918 106.96C90.0035 109.118 91.9282 108.48 93.4669 108.083L93.611 108.222V108.217Z"
                  fill="#054965"></path>
                <path
                  d="M132.912 9.85911C137.101 8.50955 137.703 5.11506 138.012 1.12305C138.496 1.81843 138.799 2.05022 138.799 2.28202C138.789 5.22323 138.192 7.98931 136.123 10.23C134.929 11.5229 134.662 11.492 132.912 9.85911Z"
                  fill="#054965"></path>
                <path
                  d="M82.9271 19.5373C82.0677 20.3099 81.3421 21.0671 81.2649 21.0104C80.3643 20.2945 79.5563 19.46 78.7227 18.6513C79.3454 18.1465 80.2305 17.0905 80.5341 17.2399C81.373 17.652 81.9699 18.5637 82.922 19.5373H82.9271Z"
                  fill="#054965"></path>
                <path
                  d="M92.7656 20.7792C93.0487 19.8212 93.1516 18.7446 93.6868 17.9617C93.9801 17.5341 94.9991 17.6011 95.6938 17.4414C95.7556 18.0956 96.121 18.997 95.8276 19.3524C95.1741 20.1354 94.1911 20.635 93.3472 21.2531L92.7759 20.7844L92.7656 20.7792Z"
                  fill="#054965"></path>
                <path
                  d="M125.213 1.41059H116.742C117.21 0.380393 122.259 -0.0110821 125.213 1.41059Z"
                  fill="#054965"></path>
                <path
                  d="M108.34 9.01933C107.82 9.49837 107.341 9.94135 106.539 10.6831C105.72 9.27172 105.031 8.07155 104.336 6.87137C104.47 6.7838 104.598 6.69108 104.732 6.60352C105.89 7.37616 107.043 8.15396 108.34 9.02448V9.01933Z"
                  fill="#054965"></path>
                <path
                  d="M97.8962 7.09333C97.114 8.18019 96.3987 9.32371 95.4981 10.3024C95.3437 10.4724 94.4277 9.93668 93.666 9.65337C95.1173 8.53561 96.2752 7.64964 97.4331 6.76367L97.8962 7.09333Z"
                  fill="#054965"></path>
                <path
                  d="M93.4648 108.084C94.6227 105.483 94.35 102.845 93.8971 100.043C94.1853 100.017 94.736 99.9761 95.5439 99.9092C95.3432 100.192 95.2094 100.29 95.1991 100.404C95.0499 102 95.0242 103.613 94.7411 105.184C94.5507 106.229 94.0001 107.208 93.6089 108.218L93.4648 108.079V108.084Z"
                  fill="#054965"></path>
              </g>
              <defs>
                <clipPath id="clip0_4_1394">
                  <rect width="180" height="109.134" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <div class="menu-overlay__content">
          <ul class="menu-overlay__nav menu-overlay__nav--primary">
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">TOP</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">過ごし方</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">アクティビティ</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">お部屋・施設</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">お食事</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">アクセス</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">FAQ</a>
            </li>
          </ul>
          <ul class="menu-overlay__nav menu-overlay__nav--secondary">
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">お知らせ</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">イベント情報</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">ブログ</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">ご利用案内</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">求人案内</a>
            </li>
            <li class="menu-overlay__nav-item">
              <a class="menu-overlay__nav-link" href="#">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- メインコンテンツ -->
      <main>
        <h1>ようこそ！</h1>
        <p>これはAstroプロジェクトの基本的な構造です。</p>
      </main>
    </div>
  </body>

  <script>
    const menuToggle = document.getElementById('menu-toggle');
    const menuOverlay = document.getElementById('menu-overlay');
    const sidebar = document.querySelector('.sidebar');

    // 必要な要素が全て存在することを確認
    if (menuToggle && menuOverlay && sidebar) {
      let isMenuOpen = false;

      menuToggle.addEventListener('click', () => {
        isMenuOpen = !isMenuOpen;

        if (isMenuOpen) {
          // メニューを開く：トランジション付きで表示
          menuOverlay.classList.add('show');
          sidebar.classList.add('menu-open');
        } else {
          // メニューを閉じる：トランジション付きで非表示
          menuOverlay.classList.remove('show');
          sidebar.classList.remove('menu-open');
        }
      });
    }
  </script>
</html>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../styles/variables';
  @import '../styles/functions';
  @import '../styles/mixins';

  /* 基本構造 */
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    @include tablet-up {
      grid-template-columns: tpx(224) 1fr;
    }
    @include desktop-up {
      grid-template-columns: ppx(224) 1fr;
    }
  }

  /* メニューオーバーレイ */
  .menu-overlay {
    // メニュー開閉時に表示される全画面オーバーレイ
    display: block; // 常に存在させる
    opacity: 0; // 初期状態では透明
    visibility: hidden; // 初期状態では非表示
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, #026995 0%, #0098bf 100%);
    z-index: 10; // サイドバー(z-index: 20)より下の層
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease; // フェードイン・アウト効果

    &.show {
      // メニューが開いている状態
      opacity: 1;
      visibility: visible;
    }
    @include tablet-up {
      display: grid;
      grid-template:
        'sidebar content'
        / tpx(244) 1fr;
    }
    @include desktop-up {
      grid-template:
        'sidebar content'
        / ppx(224) 1fr;
    }
    .mobile-menu-header {
      display: block;
      @include tablet-up {
        display: none;
      }
      .mobile-menu-nav {
        display: flex;
        gap: spx(60);
        align-items: center;
        padding-left: spx(40);
        padding-top: spx(40);
        padding-bottom: spx(40);
        .mobile-menu-list {
          display: flex;
          gap: spx(18);
          .mobile-menu-item {
            .mobile-menu-button {
              color: #fff;
              text-align: center;
              font-size: spx(30);
              width: spx(250);
              height: spx(67);
              border: solid 1px #fff;
              border-radius: spx(10);
              display: grid;
              place-items: center;
            }

            .mobile-menu-link {
              color: #fff;
              text-align: center;
              font-size: spx(30);
              width: spx(250);
              height: spx(67);
              border: solid 1px #fff;
              border-radius: spx(10);
              display: grid;
              place-items: center;
            }
          }
        }

        .mobile-menu-close {
          width: spx(50);
          height: spx(50);
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
      }

      .sidebar-logo {
        display: block;
        width: spx(254);
        height: spx(154);
        margin-inline: auto;
        margin-top: spx(81);
        svg {
          width: 100%;
          height: 100%;

          path {
            fill: white;
          }
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr;
      width: spx(312);
      gap: spx(55);
      margin-left: spx(105);
      margin-top: spx(61);
      @include tablet-up {
        grid-area: content;
        grid-template-columns: 1fr 1fr;
        width: ppx(962) * 1.2;
        gap: unset;
        margin-top: unset;
        margin-left: unset;
        justify-self: center;
        align-self: center;
      }
      @include desktop-up {
        width: ppx(962);
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      gap: spx(55);
      @include tablet-up {
        gap: ppx(60) * 1.2;
      }
      @include desktop-up {
        gap: ppx(60);
      }
      &--primary {
      }

      &--secondary {
      }

      &-item {
        color: #fff;
        font-size: spx(33);
        line-height: spx(33);
        @include tablet-up {
          font-size: ppx(38) * 1.2;
          line-height: ppx(57) * 1.2;
          letter-spacing: ppx(7.6) * 1.2;
        }
        @include desktop-up {
          font-size: ppx(38);
          line-height: ppx(57);
          letter-spacing: ppx(7.6);
        }
      }

      &-link {
      }
    }
  }

  /* サイドバーの固定 */
  .sidebar {
    display: none;
    @include tablet-up {
      display: block;
      position: sticky;
      top: 0;
      height: 100vh;
      overflow-y: auto; /* 内容が多い場合のスクロール */
      z-index: 20;
    }
    @include desktop-up {
    }

    &-nav {
      // ナビゲーション要素
      @include tablet-up {
        display: flex;
        flex-direction: column;
        padding-top: tpx(70);
        padding-bottom: tpx(60);
        height: 100%;
      }
      @include desktop-up {
      }

      &[role='navigation'] {
        // role属性付きのnavigation
      }
    }

    &-logo {
      // ロゴリンク
      @include tablet-up {
        display: block;
        width: tpx(180);
        height: tpx(109);
        margin-left: tpx(40);
      }
      @include desktop-up {
        width: ppx(180);
        height: ppx(109);
        margin-left: ppx(40);
      }

      svg {
        // ロゴのSVG
        @include tablet-up {
          display: block;
          width: 100%;
          height: 100%;
        }
        g {
          // SVGグループ要素

          path {
            // SVGパス要素
            fill: $blue_6;
            transition: fill 0.3s ease;
          }
        }

        defs {
          // SVG定義

          clipPath {
            // クリップパス

            rect {
              // 矩形要素
            }
          }
        }
      }
    }

    &-menu {
      // メニューリスト
      @include tablet-up {
        display: flex;
        gap: tpx(10);
        justify-content: center;
        margin-top: tpx(573);
      }
      @include desktop-up {
        gap: ppx(10);
        margin-top: 32vh;
      }

      &-item {
        // メニューアイテム
      }

      &-button {
        // メニューボタン
        @include tablet-up {
          writing-mode: vertical-lr;
          color: $blue_6;
          font-size: tpx(30);
          line-height: tpx(40);
          letter-spacing: 0.2em;
          width: tpx(67);
          height: tpx(250);
          border: solid 1px $blue_6;
          border-radius: tpx(10);
          padding-top: tpx(16);
          display: flex;
          align-items: center;
          transition:
            color 0.3s ease,
            background-color 0.3s ease,
            border-color 0.3s ease;
        }
        @include desktop-up {
          font-size: ppx(30);
          line-height: ppx(40);
          width: ppx(67);
          height: ppx(250);
          border-radius: ppx(10);
          padding-top: ppx(16);
        }

        &[type='button'] {
          // type属性付きボタン
        }
        @include hover {
          &:hover {
            color: white;
            background-color: $green_2;
            border-color: $green_2;
          }
        }

        &[aria-label] {
          // aria-label属性付き要素
          @include tablet-up {
            writing-mode: vertical-lr;
          }
          @include desktop-up {
          }
        }
      }

      &-link {
        // メニューリンク
        @include tablet-up {
          display: block;
          writing-mode: vertical-lr;
          color: $blue_6;
          font-size: tpx(30);
          line-height: tpx(40);
          letter-spacing: 0.2em;
          width: tpx(67);
          height: tpx(250);
          border: solid 1px $blue_6;
          border-radius: tpx(10);
          padding-top: tpx(16);
          display: flex;
          align-items: center;
          transition:
            color 0.3s ease,
            background-color 0.3s ease,
            border-color 0.3s ease;
        }
        @include desktop-up {
          font-size: ppx(30);
          line-height: ppx(40);
          width: ppx(67);
          height: ppx(250);
          border-radius: ppx(10);
          padding-top: ppx(16);
        }

        &[href] {
          // href属性付きリンク
        }
        @include hover {
          &:hover {
            color: white;
            background-color: $green_2;
            border-color: $green_2;
          }
        }
      }

      &-toggle {
        // メニュートグルボタン
        @include tablet-up {
          display: block;
          margin-inline: auto;
          width: tpx(76);
          height: tpx(79);
          margin-top: tpx(114);
          position: relative;
        }
        @include desktop-up {
          width: ppx(76);
          height: ppx(79);
          margin-top: ppx(114);
        }

        &[type='button'] {
          // type属性付きボタン
        }

        &[aria-label] {
          // aria-label属性付き要素
        }

        .menu-open-icon {
          // メニュー開くアイコン（ハンバーガーメニュー）
          display: block;
          opacity: 1; // 初期状態で表示
          transition: opacity 0.3s ease; // フェード切り替えアニメーション
          @include tablet-up {
            width: 100%;
            height: 100%;
          }

          path {
            fill: $blue_6; // 初期色は青
            stroke: $blue_6;
            transition:
              fill 0.3s ease,
              stroke 0.3s ease;
          }
        }

        .menu-close-icon {
          // メニュー閉じるアイコン（×マーク、CLOSE）
          display: block;
          opacity: 0; // 初期状態では非表示
          position: absolute; // 開くアイコンと完全重複配置
          top: 0;
          left: 0;
          transition: opacity 0.3s ease; // フェード切り替えアニメーション
          @include tablet-up {
            width: 100%;
            height: 100%;
          }

          path {
            fill: white; // 白色で表示
            transition: fill 0.3s ease;
          }
        }

        @include hover {
          // ホバー対応デバイスでのみ動作
          &:hover {
            .menu-open-icon path {
              // ハンバーガーメニューアイコンのホバー時色変化
              fill: $green_2;
              stroke: $green_2;
            }
            .menu-close-icon path {
              // ×アイコンのホバー時色変化（半透明白）
              fill: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }

    &-social {
      // ソーシャルリンクセクション
      @include tablet-up {
        display: flex;
        flex-flow: column;
        gap: tpx(23);
        align-items: center;
        margin-top: tpx(106);
      }
      @include desktop-up {
        gap: ppx(23);
        margin-top: ppx(106);
      }

      &[role='contentinfo'] {
        // role属性付きコンテンツ情報
      }

      &-link {
        // ソーシャルリンク
        @include tablet-up {
          display: block;
          width: tpx(40);
          height: tpx(40);
        }
        @include desktop-up {
          width: ppx(40);
          height: ppx(40);
        }

        &[href] {
          // href属性付きリンク
        }

        &[aria-label] {
          // aria-label属性付きリンク
        }

        svg {
          // ソーシャルアイコンのSVG
          @include tablet-up {
            width: 100%;
            height: 100%;
          }

          path {
            // SVGパス要素
            fill: $blue_6;
            transition: fill 0.3s ease;
          }
        }

        @include hover {
          &:hover {
            svg path {
              fill: $green_2;
            }
          }
        }
      }
    }

    &.menu-open {
      // メニューが開いている状態のスタイル（JavaScriptで.menu-openクラスが追加される）

      .sidebar-menu-button,
      .sidebar-menu-link {
        // 宿泊予約・団体利用ボタンを白色に変更
        color: white;
        border-color: white;
      }

      .sidebar-menu-toggle {
        // メニュー開閉ボタンのアイコン切り替え
        .menu-open-icon {
          opacity: 0; // ハンバーガーメニューアイコンを非表示
        }

        .menu-close-icon {
          opacity: 1; // ×アイコンを表示
        }
      }

      .sidebar-social-link svg path {
        // ソーシャルアイコンを白色に変更
        fill: white;
      }

      .sidebar-logo svg path {
        // サイトロゴを白色に変更
        fill: white;
      }

      @include hover {
        // メニュー開閉状態でのホバー演出（ホバー対応デバイスでのみ動作）
        .sidebar-menu-button:hover,
        .sidebar-menu-link:hover {
          // 宿泊予約・団体利用ボタンのホバー時（白→緑）
          color: white;
          background-color: $green_2;
          border-color: $green_2;
        }

        .sidebar-social-link:hover svg path {
          // ソーシャルアイコンのホバー時色変化
          fill: $green_2;
        }

        .sidebar-menu-toggle:hover .menu-close-icon path {
          // ×アイコンのホバー時色変化（白→緑）
          fill: $green_2;
        }
      }
    }
  }
</style>
