---

---

<div class="bottom-bar">
  <div class="bottom-bar__nav">
    <ul class="bottom-bar__list">
      <li class="bottom-bar__item">
        <button class="bottom-bar__button" type="button">宿泊予約</button>
      </li>
      <li class="bottom-bar__item">
        <a class="bottom-bar__link" href="#">団体利用の方</a>
      </li>
    </ul>
    <button class="bottom-bar__toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="75"
        height="45"
        viewBox="0 0 75 45"
        fill="none"
      >
        <path
          d="M2 2H73"
          stroke="white"
          stroke-width="3.2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2 22H73"
          stroke="white"
          stroke-width="3.2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2 43H73"
          stroke="white"
          stroke-width="3.2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</div>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../styles/variables';
  @import '../styles/functions';
  @import '../styles/mixins';

  /* スマホ固定バー */
  .bottom-bar {
    display: block;
    background: linear-gradient(270deg, #026995 0%, #0098bf 100%);
    width: 100%;
    height: max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    @include tablet-up {
      display: none;
    }
    &__nav {
      display: flex;
      gap: spx(49);
      align-items: center;
      padding-left: spx(40);
      padding-top: spx(31);
      padding-bottom: spx(31);
    }

    &__list {
      display: flex;
      gap: spx(18);
    }

    &__item {
    }

    &__button {
      color: #fff;
      text-align: center;
      font-size: spx(30);
      width: spx(250);
      height: spx(67);
      border: solid 1px #fff;
      border-radius: spx(10);
      display: grid;
      place-items: center;
    }

    &__link {
      color: #fff;
      text-align: center;
      font-size: spx(30);
      width: spx(250);
      height: spx(67);
      border: solid 1px #fff;
      border-radius: spx(10);
      display: grid;
      place-items: center;
    }

    &__toggle {
      width: spx(71);
      height: spx(41);
      svg {
        width: 100%;
        height: 100%;
        path {
        }
      }
    }
  }
</style>
