---

---

<section class="room">
  <header class="room__header">
    <h2 class="room__title">Room</h2>
    <div class="room__subtitle">
      <span class="room__subtitle-line">お部屋</span>
    </div>
    <p class="room__description">
      シンプルで快適な当ホテルのお部屋からは、自然に囲まれた穏やかな景色をお楽しみいただけます。
    </p>
  </header>
  <div class="room__content"></div>
</section>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../../../styles/variables';
  @import '../../../styles/functions';
  @import '../../../styles/mixins';

  /* お部屋セクション */
  .room {
  }
</style>
