---
import MoreButton from '../../ui/MoreButton.astro';
---

<section class="news">
  <div class="news__container">
    <article class="news__section news__section--information">
      <header class="news__header">
        <h2 class="news__title">INFORMATION</h2>
        <p class="news__subtitle">お知らせ</p>
      </header>

      <div class="news__content">
        <ul class="news__list">
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
        </ul>
      </div>
      <div class="news__more">
        <MoreButton
          href="#"
          textColor="var(--green_3, #43512A)"
          hoverColor="var(--green_2, #adc400)"
          arrowColor="#43512A"
        />
      </div>
    </article>

    <article class="news__section news__section--event">
      <header class="news__header">
        <h2 class="news__title">EVENT</h2>
        <p class="news__subtitle">イベント情報</p>
      </header>

      <div class="news__content">
        <ul class="news__list">
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">ホームページをリニューアルいたしました。</p>
              </article>
            </a>
          </li>
        </ul>
      </div>
      <div class="news__more">
        <MoreButton
          href="#"
          textColor="var(--green_3, #43512A)"
          hoverColor="var(--blue_5, #026995)"
          arrowColor="#43512A"
        />
      </div>
    </article>
  </div>
</section>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../../../styles/variables';
  @import '../../../styles/functions';
  @import '../../../styles/mixins';

  /* ニュースセクション */
  .news {
    
    &__container {
    }
    
    &__section {
      &--information {
      }
      &--event {
      }
    }
    
    &__header {
    }
    
    &__title {
    }
    
    &__subtitle {
    }
    
    &__content {
    }
    
    &__list {
    }
    
    &__item {
    }
    
    &__link {
    }
    
    &__article {
    }
    
    &__date {
    }
    
    &__text {
    }
    
    &__more {
    }
  }
</style>
