---

---

<div>
  <h2 class="">INFORMATION</h2>
  <p>お知らせ</p>

  <div class="">
    <ul>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="">
    <span class="">more</span>
    <span class="">
      <svg
        class=""
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="22"
        viewBox="0 0 12 22"
        fill="none"
      >
        <path
          class=""
          d="M1 21L11 11L1 1"
          stroke="#43512A"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </span>
  </a>
</div>

<div>
  <h2 class="">EVENT</h2>
  <p>イベント情報</p>

  <div class="">
    <ul>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
      <li>
        <div>
          <p>2025.01.01</p>
          <p>ホームページをリニューアルいたしました。</p>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="">
    <span class="">more</span>
    <span class="">
      <svg
        class=""
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="22"
        viewBox="0 0 12 22"
        fill="none"
      >
        <path
          class=""
          d="M1 21L11 11L1 1"
          stroke="#43512A"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </span>
  </a>
</div>
