---
import MoreButton from '../../ui/MoreButton.astro';
---

<section class="news">
  <div class="news__container">
    <article class="news__section news__section--information">
      <header class="news__header">
        <h2 class="news__title">INFORMATION</h2>
        <p class="news__subtitle">お知らせ</p>
      </header>

      <div class="news__content">
        <ul class="news__list">
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
        </ul>
      </div>
      <div class="news__more">
        <MoreButton
          href="#"
          textColor="var(--green_3, #43512A)"
          hoverColor="var(--green_2, #adc400)"
          arrowColor="#43512A"
        />
      </div>
    </article>

    <article class="news__section news__section--event">
      <header class="news__header">
        <h2 class="news__title">EVENT</h2>
        <p class="news__subtitle">イベント情報</p>
      </header>

      <div class="news__content">
        <ul class="news__list">
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
          <li class="news__item">
            <a href="#" class="news__link">
              <article class="news__article">
                <time class="news__date" datetime="2025-01-01">2025.01.01</time>
                <p class="news__text">
                  ホームページをリニューアルいたしました。
                </p>
              </article>
            </a>
          </li>
        </ul>
      </div>
      <div class="news__more">
        <MoreButton
          href="#"
          textColor="var(--green_3, #43512A)"
          hoverColor="var(--blue_5, #026995)"
          arrowColor="#43512A"
        />
      </div>
    </article>
  </div>
</section>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../../../styles/variables';
  @import '../../../styles/functions';
  @import '../../../styles/mixins';

  /* ニュースセクション */
  .news {
    background: var(--green_1, #e2ecc4);
    &__container {
    }

    &__section {
      &--information {
        .news__title {
          color: var(--green_2, #adc400);
        }
      }
      &--event {
        .news__title {
          color: var(--blue_4, #59a1c0);
        }
      }
    }

    &__header {
    }

    &__title {
      font-size: spx(48);
      font-weight: 900;
      line-height: 70.833%;
      letter-spacing: spx(3.36);
      @include tablet-up {
        font-size: ppx(34) * 1.2;
        letter-spacing: ppx(2.38) * 1.2;
      }
      @include desktop-up {
        font-size: ppx(34);
        letter-spacing: ppx(2.38);
      }
    }

    &__subtitle {
      color: var(--green_3, #43512a);
      font-size: spx(27);
      line-height: 122.222%;
      @include tablet-up {
        font-size: ppx(33) * 1.2;
        line-height: 100%;
      }
      @include desktop-up {
        font-size: ppx(33);
      }
    }

    &__content {
    }

    &__list {
    }

    &__item {
    }

    &__link {
    }

    &__article {
      display: grid;
      grid-template-columns: max-content auto;
      gap: 0.5em;
      @include tablet-up {
        gap: ppx(40) * 1.2;
      }
      @include desktop-up {
        gap: ppx(40);
      }
    }

    &__date {
      color: var(--green_3, #43512a);
      font-size: spx(27);
      line-height: 165%;
      letter-spacing: spx(1.35);
      @include tablet-up {
        font-size: ppx(27) * 1.2;
        line-height: 150%;
        letter-spacing: ppx(1.62) * 1.2;
      }
      @include desktop-up {
        font-size: ppx(27);
        letter-spacing: ppx(1.62);
      }
    }

    &__text {
      color: var(--green_3, #43512a);
      font-size: spx(29);
      line-height: 150%;
      @include tablet-up {
        font-size: ppx(27) * 1.2;
      }
      @include desktop-up {
        font-size: ppx(27);
      }
    }

    &__more {
      width: max-content;
    }
  }
</style>
